.form-editar input {
  width: 90%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-editar label {
  font-size: 13px;
  color: #eee;
}

.form-editar button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.form-editar button:hover {
  background-color: #0056b3;
}
